PORT=8080
PUBLIC_BASE_URL=http://localhost:8080

PAYNET_API_BASE_URL=https://api-merchant.test.paynet.md
PAYNET_GATEWAY_URL=https://test.paynet.md/acquiring/getecom
PAYNET_MERCHANT_CODE=975860
PAYNET_SALE_AREA_CODE=GeneralTest
PAYNET_MERCHANT_USER=601274
PAYNET_MERCHANT_PASSWORD=replace_with_paynet_api_password
PAYNET_AUTH_INCLUDE_CONTEXT=false

PAYNET_CURRENCY=498
PAYNET_LANG=ro
PAYNET_SIGN_VERSION=v01
PAYNET_EUR_TO_MDL=20
